body,
html {
  overflow-x: hidden;
  width: 100%;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.85);
}
